# Ignore LaTeX auxiliary and intermediate files
*.aux
*.log
*.fls
*.fdb_latexmk
*.toc
*.out
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.lof
*.lot
*.xml
*.docx
*.bcf
*.xdv
*.synctex(busy)


# Ignore backup files
*.bak
*.sav

!.bib
!.txt
!.tex
!.pdf
!.sty
!.md
!.py
!.jpg
!.cls
!.png
!.code-snippets
!.~
